<h1>Gretting</h1>
<br/>
<p>Welcome to Beagle Community</p>
<% if current_user %>
<br/>
<p>You're a <%= current_user.role %></p>
<% end %>

<div class="fa-3x">
  <i class="fa-duotone fa-camera"></i> <!-- a duotone style camera icon -->
  <i class="fa-duotone fa-fire-alt"></i> <!-- a duotone style fire-alt icon -->
  <i class="fa-duotone fa-bus-alt"></i> <!-- a duotone style bus-alt icon -->
  <i class="fa-duotone fa-fill-drip"></i> <!-- a duotone style fill-drip icon -->
</div>
